 <div class="modal-dialog">
      <div class="modal-content">


        <div class="modal-body" style="text-align:center;">


          <h3> 感謝你願意在這裡分享 66K+ 的工作 </h3>

            <%= image_tag("shakehand.png") %>
            
          <h4> 66K 工作網是一個專門讓大家張貼以及找到好工作的求職網站。 </h4>


          <br><br>

            <%= link_to("馬上來張貼好工作吧！", new_job_path, :class => "btn btn-lg btn-default btn-primary" ) %>
        <br><br>
   
            <p> <a href="#" style="color:#ccc; text-decoration:underline;" data-dismiss="modal"> 我改變心意了，我想貼的這個工作不值得 66 K </a> </p>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->