
<div class="job-nav-bar">
  <%= link_to("← 回工作列表", root_path, :class => "underline") %>

    <%= link_to("看更多 #{@job.category.name} 的工作 →", category_path(@job.category) , :class => "underline pull-right") %>

</div>

<div class="job-content">


  <%= render :partial => "jobs/preview_block" %>
  <%= render :partial => "jobs/disqus" %>

</div>

