




<h3> 日薪專區 </h3>

    <%= link_to '張貼一份 2.2K+ 日薪工作' , new_day_job_path, :class => "btn btn-primary pull-right" %>

    <br><br>



  <table class="table table-borderd">

      <%= render :partial => "day_jobs/item", :collection => @day_jobs, :as => :job %>

  </table>