<div class="stepwizard">
    <div class="stepwizard-row">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-circle">1</button>
            <p>張貼工作內容</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled">2</button>
            <p>預覽</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
            <p>確定張貼</p>
        </div> 
    </div>
</div>


<div class="new-job">


  <p class="new-job-desc">
    你張貼的日薪工作會在這個網站上停留十五天，十五天過後這個徵才啟事會過期，你可以隨時再回來重新張貼工作廣告。
   </p>  

  <br><br>
  <h3> STEP 1 : 撰寫日薪工作內容 </h3>

  <hr>



<br><br>

  <%= render 'form' %>


</div>
