<div class="well landing">
  <h2> 關於本站 </h2>

  <div class="desc">
   <p>
    <ul>
      <li>有任何問題，請來信: 66kjobs.tw@gmail.com </li>
      <li> 本站開源。程式碼網址 <%= link_to("https://github.com/xdite/66kjobs", "https://github.com/xdite/66kjobs") %> ，歡迎 Fork。
        <li> 程式若有問題。請直接修復並拉 pull-request。</li>
      </ul>
    </p>
  </div>


  <h2> TODO </h2>

  <div class="desc">
    <p>
      <ul>

        <li> 付費 highlight 功能 </li>

      </ul>
    </p>
  </div>
</div>
