<p>
感謝您對 66K Jobs 上的職缺有興趣！

</p>

<p>
  您還差最後一步，請點擊此網址，確認您的 email 是有效的： <%= link_to(verify_subscription_url(@subscription.token), verify_subscription_url(@subscription.token)) %>。
</p>


<p>
  您就會立即被加入本站電子報的訂閱名單之內。
</p>