/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap-markdown
 *= require bootstrap-override
 *= require hero
 *= require jobs
 */



.underline{
  text-decoration: underline;

}

.red{
  color:#c00;
}

.social{
   float:left;
   width: 90px;
   padding: 5px;
   padding-top: 15px;
   border-right: none;
}
.social > div {
  height: 20px;
}
.social > div > * {
  display: block;
  float: left;
}

.group:before, .group:after {
   content: "";
   display: table;
}
.group:after {
   clear: both;
}
.group {
   zoom: 1; /* IE6&7 */
}


