          <h3> <%= link_to(@category.name, category_path(@category), :style => "color: black;") %> <%= link_to(image_tag("rss-feed.png"), category_path(@category, params.merge(:format => :rss) )) %> </h3>  

<%= render_cell :category, :jobs, :category => @category %>